.section
  .container
    .row
      div(class="col-lg-12 text-center")
        h2 What is Geknow?
        hr
        
      div(class="col-lg-12")
        p GeKnow explains the possible results of genetic testing. This discussion will take about 45 minutes with your genetic specialist (aka. geneticist). Your risks are influenced by a number of factors including your gender, ethnicity, age and family history.
        p A full whole exome sequencing (WES) may show a genetic component to your disease, but it is possible that no result will be found. Because this test examines the full exome, it is also possible that predispositions to other diseases may also be found.
        p Learn more
        ul 
          li
            a(href='https://github.com/healthhack-melb/wiki/wiki/Geknow') Team Wiki
          li
            a(href='https://github.com/rkstedman/healthhack') Github

    div(class="col-lg-12 text-center")
        h2 Minimal Viable Product
        hr
      div(class="col-lg-12")
        p GeKnow will provide a clinical education tool for  geneticists to facilitate discussion with patients about whole exome sequencing as a clinical test for identifying underlying disease causing mutations.

        p It includes prior probabilities of both identifying phenotype specific variations as well as incidental findings based on ethnicity including age specific reproductive options.

    div(class="col-lg-12 text-center")
      h2 Why/how was Geknow built?
      hr
    div(class="col-lg-12")
      p Geknow was built as part of 
        a(href='http://healthhackmelb.com/') HealthHack 
        | hosted by Thoughtworks in Melbourne, Australia. HealthHack is a weekend datahack working on problems that medical researchers face. Medical researchers create vast amounts of data, but don’t always have good ways to analyse, visualise and communicate it. On the weekend we’ll have available for you real life medical researchers, their problems, their data.
        
.section
  .container
    .row
      div(class="col-lg-12 text-center")
        h2 Who built Geknow?
        hr
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/alison.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Alison Trainer
        p Consultant geneticist, ask her about genomes, xomes and gnomes. Also hip hop.
    .row  
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/anna.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Anna Lee Anda
        p Empathises with users, always follows KISS and is a master hula hooper.
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/yin.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Yin Shen
        p this is my bio
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/rachael.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Rachael Stedman
        p A recent import from the US, she’s crazy about node.js and all things healthy!
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/lucy.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Lucy Nie
        p Business intelligence developer who likes to run; she is all about data even when doing a half marathon
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/kathy.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Kathy Reid
        p Knits, codes, programs and builds arduinos, gives talks, and uses linux.  A developer, analyst, communications and making people happy.
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/jacinta.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Jacinta Richardson
        p Wordsmith, developer, coder. In her spare time she bakes, quilts and runs all the things.
    .row
      div(class="col-lg-4 col-md-4 col-sm-6")
        img(class="img-responsive img-home-portfolio",src="images/andrew.jpg",width='100px',height='100px')
      div(class="col-lg-8 col-md-8 col-sm-6")
        h3 Andrew Yap
        p a generally sleepy doctor who is interested in entrepreneurship. He likes to carry everything but the kitchen sink with him
        
