extends layout

block content
  .container
    .row
      .col-lg-12
        h1 About Us
        p Communicating Whole Exome Sequencing (WES) possibilities to the every day person
        p 
          a(href='https://github.com/healthhack-melb/wiki/wiki/Geknow') wiki