extends layout

block content
  .starter-template
    h1 
      
    p.lead
      | What's YOUR risk for breast cancer?
      | Know quicker. Be safer. Get Bris.kr
  //
         /.container
  //
         Bootstrap core JavaScript
  
 
    