doctype 5
html
  head
    script(src='/js/lib/angular.js')
    script(src='/js/lib/angular-route.js')
    script(src='/js/lib/angular-resource.js')
    script(src='/js/app.js')
    script(src='/js/controllers.js')
    script(src='/js/services.js')
    script(src='/js/directives.js')
    
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='geKnowApp', ng-controller='MainCtrl')
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/geknow_logo.png')
        .collapse.navbar-collapse
          .col-sm-3.col-md-3.pull-right
            form.navbar-form
              .input-group.input-group-sm
                input.form-control(type="text",ng-model='searchStr',placeholder="search patients")
                .input-group-btn
                  button.btn.btn-default(ng-click='searchPatient(searchStr)')
                    i.glyphicon.glyphicon-search
              
    .container
      div(ng-view)
    
    .container
      hr
      footer
        .row
          .col-lg-12
            p HealthHack 2013 &middot; 
              a(href="#/about") About
  
script(src='/js/lib/jquery.min.js')
script(src='/js/lib/jquery.min.map')
script(src='/js/lib/bootstrap.js')
