doctype 5
html
  head
    script(src='/javascripts/angular.js')
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/geknow_logo.png')
        .collapse.navbar-collapse
          .col-sm-3.col-md-3.pull-right
            form.navbar-form(id="search")
              .input-group.input-group-sm
                input.form-control(type="text",placeholder="search patients",name="srchTerm",id="srchTerm")
                .input-group-btn
                  button.btn.btn-default(type="submit")
                    i.glyphicon.glyphicon-search
              
    block content
    
    .container
      hr
      footer
        .row
          .col-lg-12
            p HealthHack 2013 &middot; 
              a(href="/about") About
  
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/jquery.min.map')
script(src='/javascripts/bootstrap.js')
