extends layout

block content
  div.container
    h2 Coincidental findings

    p Variations in our genes is what makes us unique as people, and most
      of these variations are benign, having no affect on our appearance,
      our behaviour or our risk of disease.

    p In addition to the target gene variations that your geneticist has
      discussed with you, your test may also display variations that fit
      within one of the following four categories.

    P Please select which categories you wish to be informed about.

    table
      th
        td Coincidental variation category
        td Your projected risk
        td Your choice
      tr
        td
          p
            b Actionable disease causing variations
          p  changes in genes known to cause diseases that are treatable (for
          example breast cancer).
      
          [% projected risk %]

          div.radio
            label
              input(type='radio', name='actionable')
              | Yes
          div.radio
            label
              input(type='radio', name='actionable')
              | No
      tr
        td 
          p
            b Unactionable disease causing variations
          p changes in genes known to cause diseases that are not yet
          treatable (for example Huntington's disease).

          [% projected risk %]

          div.radio
            label
              input(type='radio', name='unactionable')
              | Yes
          div.radio
            label
              input(type='radio', name='unactionable')
              | No

      tr
        td
          p 
            b Predisposition variations
          p changes in genes known to increase the risk (never to 100%) of
          certain diseases (for example Alhzeimers)

          [% projected risk %]

          div.radio
            label
              input(type='radio', name='predisposition')
              | Yes
          div.radio
            label
              input(type='radio', name='predisposition')
              | No

      .if age < 50
        tr
          td
            p
              b Reproductive variations 
            p changes in genes known to increase the risk of disease in
            offspring when your partner also has a change in the same gene
            (for example Cystic Fibrosis).

            [% projected risk %]

            div.radio
              label
                input(type='radio', name='reproductive')
                | Yes
            div.radio
              label
                input(type='radio', name='reproductive')
                | No
      .if

      form(role='form')
        input(type='radio', name='agree') Continue


