extends layout

block content
  div.container
    h2 Coincidental findings

    p Variations in our genes is what makes us unique as people, and most
      of these variations are benign, having no affect on our appearance,
      our behaviour or our risk of disease.

    p In addition to the target gene variations that your geneticist has
      discussed with you, your test may also display variations that fit
      within one of the following four categories.

    P Please select which categories you wish to be informed about should a
    gene mutation exist.