extends layout

block content
  div.container
    h1 Please enter the following details.
    form(role='form')
      div.row
        div.form-group.col-md-6
          label.control-lable Primary diagnosis 
            div.textarea
               label
                  textarea(name='diagnosis')
      div.row
        div.form-group.col-md-6
          label.control-label Sex
            div.radio
              label
                input(type='radio', name='sex')
                | Male
            div.radio
              label
                input(type='radio', name='sex')
                | Female
        div.form-group.col-md-6
          label.control-label Ethnicity
            div.radio
              label
                select.form-control(name='ethnicity')
                  option Caucasian
                  option African American
                  option Ashkenazi Jewish
                  option Other
      div.row
        div.form-group.col-md-6
          label.control-label Year of birth
            div.radio
              label
                select.form-control(name='birthyear')
                  -for (var year = 1900; year < 2000; year++)
                    option #{year}