div.container
  h1 Your summary
  div.row
      div.form-group.col-md-6
        | Primary diagnosis: Tuberosis Sclerosis
  div.row
      div.form-group.col-md-6
        | Sex: {{ patient.profile.sex }}
  div.row
      div.form-group.col-md-6
        | Ethnicity: {{ patient.profile.ethnicity }}
  div.row
      div.form-group.col-md-6
        | Age: {{ patient.profile.age }}
  div.row
      div.form-group.col-md-6
        | Referrer: {{ patient.profile.referrer.name }}
        br 
        b {{ patient.profile.referrer.clinic }}
  gk-consent-form(read-only='true')
