extends ../layout

block content
  - if(typeof(view) === 'undefined')
    - var view = 'patient'
  
  .container
    ul.nav.nav-tabs
      li
        a(href='/patient/#{patientId}?view=clinician') Clinician View
      li.active
        a(href='/patient/#{patientId}?view=patient') Patient View
