.container
	.row
		.col-lg-12
			h2 My GeKnow
			.panel-group#accordion
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a.accordion-toggle(data-toggle="collapse",data-parent="#accordion",href="#collapseOne") Welcome
					#collapseOne(class="panel-collapse collapse in")
							.panel-body
								p GeKnow attempts to explain the possible results of genetic testing. Your risks are influenced by a number of factors including your gender, ethnicity, age and family history.
								p A Whole Exome Sequencing (WES) may show a genetic component to your disease but it is also possible that your genes are not at fault.  Because this test sequences your entire genome, it is also possible that other diseases or predispositions to other diseases may also be found.
								p All data submitted to this system will be kept strictly confidential.
								form(role='form')
									.form-group
										.checkbox
											label
												input(type='checkbox',name='consent',value='consent')
												| I understand
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a.accordion-toggle(data-toggle="collapse",data-parent="#accordion",href="#collapseTwo") Patient Details
					
					#collapseTwo(class="panel-collapse collapse in")
						.panel-body
							form(role='form')
								.form-group
									label.control-label Primary diagnosis 
									textarea.form-control(rows='5',name='diagnosis') 
										| {{patient.profile.referrer.notes}}
								.form-group
									label.control-label Primary diagnosis 
									textarea.form-control(rows='5',name='familyHistory') 
										| {{patient.profile.referrer.notes}}
								.form-group  
									.radio
										label
											input(type='radio',name='sex',value='male',checked)
											| Male
									.radio
										label
											input(type='radio', name='sex',value='female')
											| Female
								.form-group
									label.control-label Ethnicity
									.radio
										label
											select.form-control(ng-model='patient.profile.ethnicity', ng-options='e for e in ethnicityOpts')
								.form-group  
									label.control-label Year of birth
									.radio
										label
											input(type='date', ng-model='patient.profile.birthdate')
								.form-group
									label.control-label Age
									p.form-control-static 
										| {{patient.profile.age}}
									
				.panel.panel-default
					.panel-heading
						h4.panel-title
							a.accordion-toggle(data-toggle="collapse",data-parent="#accordion",href="#collapseThree") Coincidental findings
					#collapseThree(class="panel-collapse collapse in")
						.panel-body
							p Variations in our genes is what makes us unique as people, and most
								of these variations are benign, having no affect on our appearance,
								our behaviour or our risk of disease.

							p In addition to the target gene variations that your geneticist has
								discussed with you, your test may also display variations that fit
								within one of the following four categories.

							P Please select which categories you wish to be informed about should a gene mutation exist.

							form(role='form')
								gk-consent-form(read-only='false')
	.row
		.col-lg-12
			p(style='padding-top:10px')
				a(href='#/patientPrintView?id={{patient._id}}')
					button.btn.btn-primary(type="button") Print Summary
