.container
  .row
    .col-lg-12
      h2 Patient View
      .panel-group#accordion
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a.accordion-toggle(data-toggle="collapse",data-parent="#accordion",href="#collapseOne") Welcome
          #collapseOne(class="panel-collapse collapse in")
              .panel-body
                p GeKnow attempts to explain the possible results of genetic testing. Your risks are influenced by a number of factors including your gender, ethnicity, age and family history.
                p A Whole Exome Sequencing (WES) may show a genetic component to your disease but it is also possible that your genes are not at fault.  Because this test sequences your entire genome, it is also possible that other diseases or predispositions to other diseases may also be found.
                p All data submitted to this system will be kept strictly confidential.
                form(role='form')
                  input(type='checkbox',name='agree') I understand.
            