extends ../layout

block content
  .container
    .row
      .col-lg-12.col-md-12.col-sm-6(style="padding-top:20px")
        ul.nav.nav-tabs
          li(class="#{view === 'clinician' ? 'active' : ''}")
            a(href='/patients/#{patient._id}?view=clinician') Clinician View
          li(class="#{view === 'patient' ? 'active' : ''}")
            a(href='/patients/#{patient._id}?view=patient') Patient View
  
  include patientView.jade    