extends ../layout

block content
  .container(ng-app='patientView', ng-controller='PatientViewCtrl')
    form(role='form')
      label(for='sex') | Sex
      input(type='checkbox', id='sex')
      	options

        
  script(src='/javascripts/patientView/patientViewCtrl.js')
