body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
}

a.navbar-brand {
  width: 110px;
  position: relative;
}

a.navbar-brand img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
}